<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css" />

    <title>Blog Details</title>
</head>

<body class="position-relative">
    <button class="btn btn ToHome d-none" id="ToHome"><i class="fa-solid fa-up"></i></button>

    <!-- NAVBAR-->
    <navbar id="Nav-Bar">

    </navbar>
    <!-- </NAVBAR> -->

    <section class="header-center ">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-lg-4  col-md-2 col-sm-3">
                    <div class="icon alone d-flex justify-content-start  ">
                        <div class="dropdown">
                            <button class="btn border-0" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <a href="" class="search"> <i class="fa-light fa-bars"></i></a>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="home.html">Home</a></li>
                                <li><a class="dropdown-item" href="shop-filter.html">Shop</a></li>
                                <li><a class="dropdown-item" href="product.html">Product</a></li>
                                <li><a class="dropdown-item" href="blog.html ">Blog</a></li>
                                <li><a class="dropdown-item" href="blog-detail.html">Blog-Detail</a></li>
                                <li><a class="dropdown-item" href="about.us.html">About us</a></li>
                                <li><a class="dropdown-item" href="login.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6 text-center">
                    <div class="imglogo ">
                        <a href="home.html">
                            <img src="../../Image/main1-logo-sml-dark.png" alt="noni">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-2 col-sm-3 text-end">
                    <a href="" class="glass"><i class="fa-solid fa-magnifying-glass "></i>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- COMMON -->
    <section class="common">
        <div class="container">
            <div class="text air ps-5 text-uppercase">
                <h2>blog details </h2>
                <ul class="d-flex p-2">
                    <li>
                        <a href="/components/home/index.html"><span>Home</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <!-- </COMMON> -->

    <!-- Blog -->
    <section class="blog py-80">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="ps-5">
                        <div class="blogitem ">
                            <div class="blogimg ">
                                <img src="../../Image/blog-2-1-1170x694.jpg" alt="Blog" width="100%">
                                <div class="blogchild details">
                                    <div class="blogthems details">
                                        <i class="fa-regular fa-calendar-days"></i> <span>July 30, 2022</span>

                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="para pt-5">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It is a
                                long established fact that a reader will be distracted by the readable content of a page
                                when looking at its layout letraset sheets of letters.</p>
                        </div>
                        <div class="paratwo mt-5">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry’s standard dummy text.
                            </p>
                            <span>
                                <h5>66</h5>
                            </span>

                        </div>
                        <div class="para pt-5">
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                                necessary, making this the first true generator on the Internet. It uses a dictionary of
                                over 200 Latin words, combined with a handful of model sentence structures, to generate
                                Lorem Ipsum which looks reasonable.</p>
                        </div>
                        <div class="industry pt-4">
                            <div class="text ps-4">
                                <ul>
                                    <li class="heading pb-3">
                                        <i class="fa-sharp fa-solid fa-diamond"></i>
                                        <h3>Our Industry Explicit Competence</h3>
                                    </li>
                                    <li>
                                        <i class="fa-sharp fa-regular fa-paper-plane"></i>
                                        <p> All the Lorem Ipsum generators on ther Internet tend to repeat chunks as the
                                            making.
                                        </p>
                                    </li>
                                    <li>
                                        <i class="fa-sharp fa-regular fa-paper-plane"></i>
                                        <p> All the Lorem Ipsum generators on ther Internet tend to repeat chunks as the
                                            making.
                                        </p>
                                    </li>
                                    <li>
                                        <i class="fa-sharp fa-regular fa-paper-plane"></i>
                                        <p> All the Lorem Ipsum generators on ther Internet tend to repeat chunks as the
                                            making.
                                        </p>
                                    </li>
                                    <li>
                                        <i class="fa-sharp fa-regular fa-paper-plane"></i>
                                        <p> All the Lorem Ipsum generators on ther Internet tend to repeat chunks as the
                                            making.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="img row pt-4">
                                <div class="col-lg-6">
                                    <div class="img">
                                        <div class="lyr"></div>
                                        <img src="../../Image/supply-chain-1.jpg">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="img">
                                        <div class="lyr"></div>
                                        <img src="../../Image/service-supply-chain-1.jpg">
                                    </div>
                                </div>
                            </div>
                            <p class="pt-4">Sit amet consectetur adipiscing elit eiusmod tempor incididunt
                                ut
                                labore
                                dolore Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry’s standard dummy text ever since the 1500s, when an unknown printer
                                took a galley of type and scrambled it to make a type specimen book. It is a long
                                established fact that a reader will be distracted by the readable.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="left">
                        <div class="search">
                            <div class="btn d-flex">
                                <input type="search" class="search-field" placeholder="Search for..." value="" name="s"
                                    title="Search for:">
                                <button type="submit" class="mkdf-search-submit">
                                    search
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="left">
                        <div class="box ps-4">
                            <div class="textBox">
                                <h2>Latest Posts</h2>
                            </div>
                        </div>
                        <div class="posts ps-4 pt-2 d-flex">
                            <div class="imgpost ">
                                <img src="../../Image/blog-2-1-80x80.jpg">

                            </div>
                            <div class="time">
                                <a href="#">Helping Companies in Their Green Transition</a>
                                <div class="timeicon">
                                    <i class="fa-regular fa-clock"></i> <span>July 30, 2022
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="posts ps-4 pt-4 d-flex">
                            <div class="imgpost ">
                                <img src="../../Image/blog-13-1-80x80.jpg">

                            </div>
                            <div class="time">
                                <a href="#">Varying Provide Long-Term Guarantees</a>
                                <div class="timeicon">
                                    <i class="fa-regular fa-clock"></i> <span>July 30, 2022
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="posts ps-4 pt-4 d-flex pb-4">
                            <div class="imgpost ">
                                <img src="../../Image/blog-7-1-1-80x80.jpg">

                            </div>
                            <div class="time">
                                <a href="#">Conditions for Applying for Transited Goods</a>
                                <div class="timeicon">
                                    <i class="fa-regular fa-clock"></i> <span>July 30, 2022
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="left">
                        <div class="category">
                            <div class="box ps-4">
                                <div class="textBox">
                                    <h2>Categories</h2>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li class="Bottomline">
                                            <i class="fa-solid fa-angles-right"></i> <a href="">Logistics</a>
                                        </li>
                                        <li class="Bottomline">
                                            <i class="fa-solid fa-angles-right"></i> <a href="">Road</a>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-angles-right"></i> <a href="">Transport</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="left">
                        <div class="box ps-4">
                            <div class="textBox">
                                <h2>Popular Tags</h2>
                            </div>
                            <div class="popular d-flex pb-4">
                                <span>
                                    <div class="de">
                                        <a href="">cargo</a>
                                    </div>
                                </span>
                                <span>
                                    <div class="de">
                                        <a href="">logistic</a>
                                    </div>
                                </span> <span>
                                    <div class="de">
                                        <a href="">transport</a>
                                    </div>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- </Blog> -->
    <footer>
        <div class="footer pb-0">
            <div class="imgfoter pb-4">
                <div class="container">
                    <div class="row justify-content-xl-around justify-content-lg-center">
                        <div class="col-xl-11 col-lg-12 row justify-content-between">
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 ">
                                <div class="part">
                                    <div class="icon">
                                        <i class="fa-thin fa-plane-up"></i>
                                    </div>
                                    <h2>Domestic and International Service
                                    </h2>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 ">
                                <div class="part">
                                    <div class="icon">
                                        <i class="fa-light fa-globe"></i>
                                    </div>
                                    <h2>End to End Tracking Service
                                    </h2>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 ">
                                <div class="part">
                                    <div class="icon">
                                        <i class="fa-solid fa-shield-halved"></i>
                                    </div>
                                    <h2>Safe and Guaranteed Assured
                                    </h2>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 ">
                                <div class="shape">
                                    <a href="">+(528) 456-7592</a>
                                    <p>FEEL FREE TO CALL US</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="imgfooter">
                <div class="lyr">
                    <div class="container">
                        <div class="row justify-content-xl-around justify-content-lg-center">
                            <div class="col-xl-11 col-lg-12 pt-5 row">
                                <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-5 col-sm-12 p-sm-4 p-xl-0">
                                    <div class="first ">
                                        <div class="imglogo">
                                            <img src="../../Image/main-logo-light-sml-1.png">
                                        </div>
                                        <div class="list d-flex pt-4">
                                            <i class="fa-thin fa-location-dot"></i>
                                            <p>4821 Ridge Top Cir, Anchorage Street, Alaska 99508, USA.</p>
                                        </div>
                                        <div class="list d-flex pb-4">
                                            <i class="fa-solid fa-headphones"></i>
                                            <a href="">
                                                +(528) 456-7592</a>
                                        </div>
                                        <div class="over">
                                            <div class="rectangle">
                                                <h2>Ask Any Question?</h2>
                                                <a href="">support@tranzkart.com</a>
                                            </div>
                                            <div class="msg">
                                                <i class="fa-light fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 mb-lg-5 col-md-6  pe-10 ps-lg-2 p-sm-4 p-xl-0">
                                    <div class="commn ps-lg-5 ps-md-5 ">
                                        <div class="text pb-2">
                                            <h2 class="sep">Our Services
                                            </h2>
                                        </div>
                                        <ul class="pt-3">
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Air Freight</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Smart
                                                    Warehousing</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Train Freight</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Ocean Fright</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Road Freight</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Supply Chain</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-7    mb-lg-5 p-sm-4 p-xl-0">
                                    <div class="commn">
                                        <div class="text pb-2">
                                            <h2 class="sep">Connect with Us</h2>
                                        </div>
                                        <ul class="pt-3">
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> About Us</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i>Latest Articles</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Privacy Policy</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Refund & Returns
                                                    Policy</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-5 ps-lg-4 ps-xl-0 mb-lg-5 mb-xl-0">
                                    <div class="commn ps-lg-4 pb-md-5 p-xl-0">
                                        <div class="text r pb-2">
                                            <h2>Newsletter</h2>
                                        </div>
                                        <div class="last-sec-padding">
                                            <p>Get the latest news, tips and latest messages & special offers.</p>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="required" id=""
                                                    placeholder="Email Address" name="">
                                                <button class="input-group-addon zozo-mc btn btn-default">
                                                    <i class="fa-regular fa-paper-plane"></i></button>
                                            </div>
                                            <div class="icons">
                                                <h2 class="pt-4 pb-2">Follow us:</h2>
                                                <a href="facebook.com">
                                                    <i class="fa-brands fa-facebook-f"></i>
                                                </a>
                                                <a href="twitter.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                                <a href="instagram.com">
                                                    <i class="fa-brands fa-instagram"></i>

                                                </a>
                                                <a href="pinterest">
                                                    <i class="fa-brands fa-pinterest"></i>

                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="endall">
            <div class="container">
                <p>
                    Copyright ©2023 All rights reserved | This template is made
                    with
                    <i class="fa-solid fa-heart"></i> by
                    <a href=""> DSLM</a>
                </p>
            </div>
        </section>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
    <script src="../../JS/navbar.js"></script>
    <script src="../../JS/main.js"></script>
</body>

</html>