<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css" />

    <title>ProcessUser</title>
</head>

<body>
    <!-- COMMON -->
    <section class="common">
        <div class="container">
            <div class="text ps-5">
                <h2>Tracking</h2>
                <ul class="d-flex p-2">
                    <li>
                        <a href="/components/home/index.html"><span>Home</span></a>
                        <i class="fa-light fa-angles-right"></i>
                    </li>
                    <li>Tracking</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- </COMMON> -->
    <div class="deliverd">
        <div class="container">
            <div class="text text-center">
                <h2>How We Deliver</h2>
                <h2 class="spe">Your Parcel</h2>

            </div>
            <div class="deliverd-img">
                <img src="../../Image/Line.svg">
            </div>
            <div class="row" id="roow">

            </div>
        </div>
    </div>
    <!-- <Trucking> -->
    <section class="tracking py-170">
        <div class="container" id="CONTAINER">
           
        </div>
    </section>
    <!-- </Trucking> -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/process.js"></script>
    <script src="../../JS/main.js"></script>
</body>

</html>