<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css" />
    <title>index</title>
</head>

<body class="position-relative">
    <button class="btn btn ToHome d-none" id="ToHome">
        <i class="fa-solid fa-up"></i>
    </button>
    <!-- NAVBAR-->
    <navbar id="Nav-Bar">
    </navbar>
    <!-- </NAVBAR> -->
    <!-- Navbar2 -->
    <section class="header-center ">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-lg-4  col-md-2 col-sm-3">
                    <div class="icon alone d-flex justify-content-start  ">
                        <div class="dropdown">
                            <button class="btn border-0" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <a href="" class="search"> <i class="fa-light fa-bars"></i></a>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="../../components/home/index.html">Home</a></li>
                                <li><a class="dropdown-item" href="../../components/air/air.html">Air</a></li>
                                <li><a class="dropdown-item" href="../../components/ocean/ocean.html">Ocean</a></li>
                                <li><a class="dropdown-item" href="../../components/request/reqdhl.html">DHL</a></li>
                                <li><a class="dropdown-item" href="../../components/request/reqlocal.html">Local</a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="../../components/request/reqinternational.html">International</a></li>
                                <li><a class="dropdown-item" href="../../components/road/road.html">Road</a></li>
                                <li><a class="dropdown-item" href="../../components/blog/blog.html">Blog</a></li>
                                <li><a class="dropdown-item" href="../../components/blogDetails/blogDetails.html">Blog
                                        Details</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6 text-center">
                    <div class="imglogo ">

                        <a href="home.html">
                            <img src="../../Image/main1-logo-sml-dark.png" alt="noni">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-2 col-sm-3 text-end">
                    <a href="" class="glass"><i class="fa-solid fa-magnifying-glass "></i>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- </Navbar2> -->
    <!-- HEADER -->
    <section class="header">
        <div class="container-fluid">
            <div class="headerbackg">
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="circle">
                        <img src="../../Image/circle-shape1.png" class="slide-top">

                        <div class="w3-spin">..</div>


                    </div>
                    <div class="circletwo">
                        <img src="../../Image/circle-shape2.png">
                    </div>
                    <div class="text">
                        <div class="elm d-flex">
                            <p>dedicated to deliver</p>
                            <div class="elemetor">
                                <span class="elemetor-divider"></span>
                            </div>
                        </div>
                        <h1>easy steps for deliver products on door.</h1>
                        <div class="buttn">
                            <button class="btnAll" type="submit" class="btn">Learn More</button>
                        </div>
                        <div class="buttn two">
                            <button class="btnAll" type="submit"><i class="fa-regular fa-arrow-left"></i></button>
                            <button class="btnAll" type="submit"><i class="fa-regular fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="imgright">
                        <img src="../../Image/slider-shape-imgopt8.jpg">
                    </div>
                    <div class="imgrightwo">
                        <img src="../../Image/slider-shape-imgopt5.jpg">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- </Header> -->
    <!-- trans -->
    <section class="trans py-80">
        <div class="container">
            <div class="row">
                <div class="text d-flex">
                    <div class="col-xl-6 col-lg-12">
                        <div class="txt">
                            <h5> WHAT WE DO</h5>
                            <h2>Moving Your Products Across All Borders
                            </h2>
                            <div class="elementor">
                                <span class="elementor-divider"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="buttn">
                            <a href="../../components/blogDetails/blogDetails.html">
                                <button class="btnAll" type="submit" class="btn">view more</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cards pt-5 d-flex">
                    <div class="col-xl-4 col-lg-12 col-md-12">
                        <div class="cardsingle">
                            <div class="card-img ">
                                <img
                                    src="../../Image/service-road-freightopt-1-q7p81m9pvm9hhl84sq4ujval0jgy4dmtf65o5fkbq0.jpg">
                            </div>
                            <div class="smallcard">
                                <div class="smallimg">
                                    <img src="../../Image/serv-icon-2-1.png">
                                </div>
                                <div class="smallcardtext">
                                    <h2>Road freight service</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-12 col-md-12">
                        <div class="cardsingle">
                            <div class="card-img">
                                <img src="../../Image/ocean-shipopt-1.jpg">
                            </div>
                            <div class="smallcard">
                                <div class="smallimg">
                                    <img src="../../Image/cargo-ship-1.png">
                                </div>
                                <div class="smallcardtext">
                                    <h2>cargo freight service</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-12">
                        <div class="cardsingle">
                            <div class="card-img">
                                <img src="../../Image/1-slide-circle-imgopt11.jpg">
                            </div>
                            <div class="smallcard">
                                <div class="smallimg">
                                    <img src="../../Image/serv-icon-2-1.png">
                                </div>
                                <div class="smallcardtext">
                                    <h2>Air freight service</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- </Trans> -->
    <!-- New -->
    <section class="pricingNew py-170">
        <div class="layer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 " style="padding: 0 47px">
                        <div class="priceText">
                            <span>PRICING TABLE
                            </span>
                            <h2> Effective &
                                Affordable
                                Plans</h2>
                            <p class="pt-5">There are many variations of passages of Lorem Ipsum available, but the
                                majority have
                                into suffered.There are many variations.</p>
                        </div>
                        <div class="photos d-flex ">
                            <div class="typeReq">
                                <img src="../../Image/effective-1.webp">
                                <div class="laayer  ">
                                    <span><a href="../../components/request/reqdhl.html">DHL</a></span>
                                </div>
                            </div>
                            <div class="typeReq">
                                <img src="../../Image/effective-2.webp">
                                <div class="laayer  ">
                                    <span><a href="../../components/request/reqdhl.html">DHL</a></span>
                                </div>
                            </div>
                            <div class="typeReq">
                                <img src="../../Image/effective-3.webp">
                                <div class="laayer  ">
                                    <span><a href="../../components/request/reqdhl.html">DHL</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="boxPrice">
                            <div class="spnPrice">
                                <span>ــــــــــــــــــــ<small>BASIC PLAN</small>ــــــــــــــــــــ</span>
                            </div>
                            <div class="padbox">
                                <img src="../../Image/price-2.webp">
                            </div>
                            <div class="list">
                                <ul>
                                    <li>
                                        <i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <span>Managing
                                            logistics for world</span>
                                    </li>
                                    <li>
                                        <i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <span>We Guarantee
                                            Trusted Service.</span>
                                    </li>
                                    <li>
                                        <i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <span>Managing
                                            logistics for world</span>
                                    </li>
                                    <li>
                                        <i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <span>We Guarantee
                                            Trusted Service.</span>
                                    </li>

                                </ul>
                            </div>
                            <button class="custom-btn btn-15"> REQUEST A QUOTE</button>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="boxPrice">
                            <div class="spnPrice">
                                <span>ــــــــــــــــــــ<small>BASIC PLAN</small>ــــــــــــــــــــ</span>
                            </div>
                            <div class="padbox">
                                <img src="../../Image/price-2.webp">
                            </div>
                            <div class="list">
                                <ul>
                                    <li>
                                        <i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <span>Managing
                                            logistics for world</span>
                                    </li>
                                    <li>
                                        <i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <span>We Guarantee
                                            Trusted Service.</span>
                                    </li>
                                    <li>
                                        <i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <span>Managing
                                            logistics for world</span>
                                    </li>
                                    <li>
                                        <i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <span>We Guarantee
                                            Trusted Service.</span>
                                    </li>

                                </ul>
                            </div>
                            <button class="custom-btn btn-15"> REQUEST A QUOTE</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- About -->
    <section class="about py-170 ">
        <div class="container">
            <div class="row">
                <div class="text d-flex">
                    <div class="col-xl-5 col-lg-12">
                        <div class="txt">
                            <h5> ABOUT US</h5>
                            <h2>World’s Leading Contract Logistics Provider.</h2>
                            <div class="elementor">
                                <span class="elementor-divider"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 ">
                        <div class="para">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, true generator on the Internet or
                                randomised word slightly believable.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec-section d-flex">
                    <div class="col-xl-5 col-lg-12">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa-solid fa-user-check"></i>

                                    </div>
                                    <div class="text ">
                                        <h4>Global Leaders</h4>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit elit volupt atem.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa-regular fa-clock"></i>
                                    </div>
                                    <div class="text ">
                                        <h4>People Experience</h4>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit elit volupt atem.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa-regular fa-gear"></i>
                                    </div>
                                    <div class="text ">
                                        <h4>Brilliant Services</h4>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit elit volupt atem.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12">
                        <div class="imgsection">
                            <img src="../../Image/about-img-2-1.jpg">
                        </div>
                        <div class="divred position-relative d-flex">
                            <div class="numbers d-flex">
                                <div class="right col-lg-6 d-flex">
                                    <h2>23+</h2>
                                    <p> Years Experience</p>
                                </div>
                                <div class="right col-lg-6 d-flex">
                                    <h2>18k</h2>
                                    <p> Satisfied Clients</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- </About> -->
    <!-- Plane -->
    <section class="plane py-80 position-relative">
        <div class="img"></div>
        <div class="imgred">
            <div class="layer">
                <div class="text">
                    <h5>FOCUSED ON QUALITY
                    </h5>
                    <h2>We Provide Full Assistance in Freight and Warehousing.
                    </h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form..</p>
                </div>
                <div class="lists">
                    <ul class="d-flex">
                        <li>
                            <span>335+</span>
                            <h5>Main Warehouses</h5>
                        </li>
                        <li>
                            <span>140+ </span>
                            <h5>Supply Engineers</h5>
                        </li>
                        <li>
                            <span>97+</span>
                            <h5>Countries Covered</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="thirdimg">
                <div class="lyr">
                    <img src="../../Image/blocks-with-angled-cuts-1.png">
                    <div class="score">
                        <p>Trust Score 4.5 (Based on 1,200 reviews)
                        </p>
                        <div class="stars">
                            <i class="elementor-star-full">★</i><i class="elementor-star-full">★</i><i
                                class="elementor-star-full">★</i><i class="elementor-star-full">★</i><i
                                class="elementor-star-full">★</i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>



    </section>
    <!-- </Plane> -->
    <!-- Products -->
    <section class="product  ps-3">
        <div class="container-fluid">
            <div class="txtProduct text-center pb-5">
                <h6 class="text-uppercase">our products</h6>
                <h2>Proud to Excellence </h2>
                <h4 class="pb-3">Deliver Success</h4>
                <div class="elementor">
                    <span class="elementor-divider"></span>
                </div>
            </div>
            <div class="row ">
                <div class="allProd d-flex">
                    <div class="col-lg-4">
                        <div class="prod">
                            <div class="imgprod">
                                <img src="../../Image/train-autoopt-1-q7pcfsjzxysj7bgv63ir4yczorujerkqi295fp1cns.jpg">
                                <div class="layer"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="prod">
                            <div class="imgprod">
                                <span>
                                    <div class="text">
                                        <h5>Transport</h5>
                                        <a href="">Economic , Logistics</a>
                                    </div>
                                </span>

                                <img src="../../Image/bg-img-port-q7pdrd5xu3wysud7dnt0by6u0tdazafodivttui1qw (1).jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="prod">
                            <div class="imgprod">
                                <img
                                    src="../../Image/service-road-freightopt-1-q7p81m9pvm9hhl84sq4ujval0jgy4dmtf65o5fkbq0.jpg">
                                <div class="layer"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- </products> -->
    <!-- Testimonials-->
    <section class="Testimonials py-80 ps-30 ">
        <div class="container">
            <div class="txtProduct text-center pb-5">
                <h6 class="text-uppercase">our Testimonials</h6>
                <h2>What They Are Talking</h2>
                <h4 class="pb-3">About DLSM</h4>
                <div class="elementor">
                    <span class="elementor-divider"></span>
                </div>
            </div>
            <div class="Test d-flex">
                <!-- <div class="col-lg-"> -->
                <div class="testimg ">
                    <img src="../../Image/testimonial-1-1-q7demusbjjxz4bap1fqe2wcc918q7df7og9nmvkf9o.jpg">
                    <span>
                        <h5 class="m-3 text-center"> <i class="fa-regular fa-message-quote"></i>Customer Feedback</h5>
                    </span>
                    <div class="stars">
                        <p>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-regular fa-star"></i>
                        </p>
                    </div>
                </div>
                <div class="testText">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been
                        the industry’s standard dummy text ever since the 1500s” when an unknown printer took a
                        galley
                        of type and scrambled it to make a type specimen..</p>
                </div>
            </div>
            <!-- <div class="col-lg-5">
                        <div class="testText">
                            <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been
                                the industry’s standard dummy text ever since the 1500s” when an unknown printer took a
                                galley
                                of type and scrambled it to make a type specimen..</p>
                        </div>
                    </div> -->
        </div>

        </div>
    </section>
    <!-- </Testimonials>-->
    <!-- Protect  -->
    <section class="protect ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="imgcar">
                        <img src="../../Image/truck-and-flight-1.png">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="protect-text text-center ">
                        <h4>why we are best</h4>
                        <h2>Few Reasons Why You Choose Us Protect Yourself</h2>
                        <div class="elementor">
                            <span class="elementor-divider"></span>
                        </div>
                    </div>
                </div>
                <div class="link">
                    <img src="../../Image/hor-line-1.png">
                    <div class="icons d-flex">
                        <div class="icon">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <div class="text-icon">
                                <h2>On - Time Delivery</h2>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit elit volupt atem.</p>
                            </div>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-location-dot"></i>
                            <div class="text-icon">
                                <h2>
                                    Real Time Tracking

                                </h2>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit elit volupt atem.</p>
                            </div>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-headphones"></i>
                            <div class="text-icon">
                                <h2>24/7 Online Support</h2>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit elit volupt atem.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>
    <!-- </Protect> -->
    <!-- Footer -->
    <footer>
        <div class="footer py-170 pb-0">
            <div class="imgfoter pb-4">
                <div class="container">
                    <div class="row justify-content-xl-around justify-content-lg-center">
                        <div class="col-xl-11 col-lg-12 row justify-content-between">
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 ">
                                <div class="part">
                                    <div class="icon">
                                        <i class="fa-thin fa-plane-up"></i>
                                    </div>
                                    <h2>Domestic and International Service
                                    </h2>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 ">
                                <div class="part">
                                    <div class="icon">
                                        <i class="fa-light fa-globe"></i>
                                    </div>
                                    <h2>End to End Tracking Service
                                    </h2>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 ">
                                <div class="part">
                                    <div class="icon">
                                        <i class="fa-solid fa-shield-halved"></i>
                                    </div>
                                    <h2>Safe and Guaranteed Assured
                                    </h2>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 ">
                                <div class="shape">
                                    <a href="">+(528) 456-7592</a>
                                    <p>FEEL FREE TO CALL US</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="imgfooter">
                <div class="lyr">
                    <div class="container">
                        <div class="row justify-content-xl-around justify-content-lg-center">
                            <div class="col-xl-11 col-lg-12 pt-5 row">
                                <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-5 col-sm-12 p-sm-4 p-xl-0">
                                    <div class="first ">
                                        <div class="imglogo">
                                            <img src="../../Image/main-logo-light-sml-1.png">
                                        </div>
                                        <div class="list d-flex pt-4">
                                            <i class="fa-thin fa-location-dot"></i>
                                            <p>4821 Ridge Top Cir, Anchorage Street, Alaska 99508, USA.</p>
                                        </div>
                                        <div class="list d-flex pb-4">
                                            <i class="fa-solid fa-headphones"></i>
                                            <a href="">
                                                +(528) 456-7592</a>
                                        </div>
                                        <div class="over">
                                            <div class="rectangle">
                                                <h2>Ask Any Question?</h2>
                                                <a href="">support@tranzkart.com</a>
                                            </div>
                                            <div class="msg">
                                                <i class="fa-light fa-envelope"></i>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-xl-3 col-lg-6 mb-lg-5 col-md-6  pe-10 ps-lg-2 p-sm-4 p-xl-0">
                                    <div class="commn ps-lg-5 ps-md-5 ">
                                        <div class="text pb-2">
                                            <h2 class="sep">Our Services
                                            </h2>
                                        </div>
                                        <ul class="pt-3">
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Air Freight</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Smart
                                                    Warehousing</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Train Freight</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Ocean Fright</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Road Freight</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Supply Chain</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-7    mb-lg-5 p-sm-4 p-xl-0">
                                    <div class="commn">
                                        <div class="text pb-2">
                                            <h2 class="sep">Connect with Us</h2>
                                        </div>
                                        <ul class="pt-3">
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> About Us</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i>Latest Articles</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Privacy Policy</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa-solid fa-angles-right"></i> Refund & Returns
                                                    Policy</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-5 ps-lg-4 ps-xl-0 mb-lg-5 mb-xl-0">
                                    <div class="commn ps-lg-4 pb-md-5 p-xl-0">
                                        <div class="text r pb-2">
                                            <h2>Newsletter</h2>
                                        </div>
                                        <div class="last-sec-padding">
                                            <p>Get the latest news, tips and latest messages & special offers.</p>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="required" id=""
                                                    placeholder="Email Address" name="">
                                                <button class="input-group-addon zozo-mc btn btn-default">
                                                    <i class="fa-regular fa-paper-plane"></i></button>
                                            </div>
                                            <div class="icons">
                                                <h2 class="pt-4 pb-2">Follow us:</h2>
                                                <a href="facebook.com">
                                                    <i class="fa-brands fa-facebook-f"></i>
                                                </a>
                                                <a href="twitter.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                                <a href="instagram.com">
                                                    <i class="fa-brands fa-instagram"></i>

                                                </a>
                                                <a href="pinterest">
                                                    <i class="fa-brands fa-pinterest"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="endall">
            <div class="container">
                <p>
                    Copyright ©2023 All rights reserved | This template is made
                    with
                    <i class="fa-solid fa-heart"></i> by
                    <a href=""> DSLM</a>
                </p>
            </div>
        </section>
    </footer>
    <!-- </Footer> -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/splide.min.js"></script>
    <script src="../../JS/navbar.js"></script>
    <script src="../../JS/main.js"></script>
</body>

</html>